/* Defines page colours */

:root {
    --off-black: #2e2e2e;
    --off-white: #FFFEFC;
    --red-accent: #e87070;
    --light-grey: #C4C4C4;
}

/* Uses classes to quickly style site (a la Bootsrap) */

.off-black {
    color: var(--off-black)
}

.light-grey {
    color: var(--light-grey);
}

.off-white {
    color: var(--off-white);
}

.bold {
    font-weight: bold;
}

.serif {
    font-family: 'Noto Serif', serif;
}

.sans-serif {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.ss-lc {
    font-family: 'Roboto', sans-serif;
}

.img-rounded {
    border-radius: 10px;
}

.btn-no-style {
    border: none;
    color: rgba(0, 0, 0, 0);
}

.pg-end-sm {
    margin-top: .625rem;
    margin-bottom: 3rem;
}

.ma {
    margin: auto;
}

.mt {
    margin-top: .5rem;
}

.r-pt {
    font-size: 1.25rem;
}

.illustrator-2 {
    max-width: 648px;
}

.underline {
    text-decoration: underline;
}

/* ========================================ENTIRE SITE STYLES======================================== */

body a {
    text-decoration: none;
}

main h2 {
    font-size: 1.625rem;
    font-weight: bold;
}

/* Needed to be a class of body to override normalize */
.body {
    background-color: var(--off-white);
}

nav {
    padding: 1.1rem 1.5rem 0 1.5rem;
} 

footer {
    padding: 1.1rem 1.5rem;
}

main {
    padding: 0 1.5rem;
}

/* ========================================NAVBAR======================================== */


.wordmark-active {
    fill: var(--red-accent);
    display: inline-block;
    width: 160px;
}

.wordmark {
    fill: var(--off-black);
    display: inline-block;
    width: 160px;
}

.nav-links .nav-active {
    color: var(--red-accent);
}

.mobile-hide, .img-md, .img-lg {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: var(--off-black);
}

/***************Mobile Menu***************/

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks { 
    display: none;
    background-color: var(--red-accent);
    border-radius: 10px;
    width: 87.2%;
    margin: auto;
    filter: drop-shadow(0 .2rem .4rem rgba(0, 0, 0, .16));
    margin-bottom: 1rem;
}

.topnav a {
    color: var(--off-white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}

.topnav .sans-serif {
    color: var(--off-white);
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav i {
    font-size: 1.8rem;
}

.topnav a:hover {
    color: var(--off-black);
}

.fa-bars {
    color: var(--off-black);
    width: 1.8rem;
    padding-top: 60%;
}

.active {
    color: white;
}

#divider, #divider-2, #divider-3 {
    margin: 0 auto;
    width: 80%;
    height: 1.5px;
} 


/* ========================================MAIN PAGE======================================== */

.img-lg, .img-md {
    display: none;
}

.img-sm {
    display: block;
}

.img-container {
    position: relative;
}

.img-container a {
    text-decoration: underline;
    color: var(--off-white);
    font-size: 1rem;
    font-weight: bold;
}

.txt-overlay p {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.txt-overlay h2 {
    padding-bottom: 1rem;
}

.txt-overlay .p-small {
    display: block;
    padding: 1.625rem 0 0 0;
    font-size: .625rem;    
}

.txt-overlay {
    background-color: rgba(0, 0, 0, .69);
    border-radius: 0 0 10px 10px;
    color: var(--off-white);
    padding: 1.75rem 1rem 1.4rem 1rem;
    width: 100%;
    bottom: 0;
    position: absolute;
}

/* ========================================CAMERAWORK PAGE======================================== */
/* Fixes YouTube Link Styling by making the iframe full sized inside of a youtube container  */

.youtube {
    position: relative;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

/* ========================================CONTACT PAGE======================================== */

select {
    appearance: none;
    color: var(--off-black);
}

label {
    padding: .5rem 0 .25rem 0;
}

input, select, textarea {
    width: 100%;
    border: 2px solid var(--light-grey);
    border-radius: 10px;
    background-color: white;
}

.form-placeholder {
    padding: .5rem 1rem;
}

.send-btn {
    font-size: 1.56rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    margin-bottom: 2.875rem;
}

.message {
    height: 300px;
    resize: none;
    position: relative;
    top: 0;
} 

/* ========================================IMAGE STYLES======================================== */

img {
    display: block;
    width: 100%;
    height: auto; 
  }

.img-main {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

/* ========================================GRID STYLES======================================== */

.grid-container {
    display: grid;
    row-gap: .625rem;
    column-gap: .625rem;
    grid-template-columns: repeat(2, 1fr);
}

.img-grid:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.camerawork-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: .625rem;
    column-gap: .625rem;
}

.music-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: .625rem;
    column-gap: .625rem;
}

.music-txt {
    grid-column: 2 / 5;
    font-size: 1.0625rem;
    line-height: .25rem;
    align-self: center;
}

/* ========================================FOOTER STYLES======================================== */

footer {
    display: grid;
    z-index: 9999;
}

.out-links {
    display: flex;
    justify-content: space-evenly;
    padding: 1.1rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

footer, footer a {
    background-color: var(--off-black);
    color: var(--off-white);
}

.copyright {
    font-size: 12px;
    order: 2;
    margin: auto;
    padding: 1rem;
}

.ig-icon {
    width: 33px;
}

.li-icon {
    width: 32px;
}

.bc-icon {
    width: 48px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

/* ++++++++++++++++++++++++++++++++++++++++MEDIA QUERIES++++++++++++++++++++++++++++++++++++++++ */

/* ========================================Tablet Styles======================================== */

@media screen and (min-width: 768px) {

    nav {
        padding: 1.1rem 2.5rem 0 2.5rem;
    }

    footer {
        padding: 1.1rem 2.5rem;
    }

    main {
        padding: 0 2.5rem 0 2.5rem;
    }

    .topnav, .img-sm, .txt-container .img-about-lg {
        display: none;
    }

    .img-main {
        margin-top: .5rem;
        margin-bottom: 10rem;
    }

    .pg-end-md {
        margin-bottom: 8rem;
    }

    .max-width {
        max-width: 35%;
    }

    .r-pt {
        font-size: 1.75rem;
    }

    /* =========RESIZES HOME TEXT IMG OVERLAY========= */

    .img-md {
        display: block;
    }

    .img-container {
        position: relative;
    }
    
    .img-container a {
        text-decoration: underline;
        color: var(--off-white);
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .txt-overlay p {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }
    
    .txt-overlay h2 {
        padding-bottom: 1rem;
    }
    
    .txt-overlay .p-small {
        display: block;
        padding: 1.625rem 0 0 0;
        font-size: .625rem;    
    }
    
    .txt-overlay {
        background-color: rgba(0, 0, 0, .69);
        color: var(--off-white);
        padding: 1.5rem;
        width: 62.5%;
        float: right;
        right: 0;
        top: 15%;
        bottom: initial;
        position: absolute;
        border-radius: 0px;
    }

    /* =========RESTYLES TEXT========= */

    .prompt {
        font-size: 1.125rem;
    }

    .back-btn {
        font-size: 1.25rem;
        text-decoration: underline;
    }

    /* =========RESTYLES MUSIC PAGE CONTENT========= */

    .music-grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .music-grid img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .music-txt:nth-child(2) {
        grid-area: 1 / 2 / 2 / 5;

    }

    .music-txt:nth-child(4) {
        grid-column: 6 / 9;
    }

    /* =========RESTYLES CONTACT PAGE CONTENT========= */
    
    .txt-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    
    .txt-container h2 {
        text-align: center;
        font-size: 1.875rem;
        padding: 1.1rem;
        grid-area: 1 / 1 / 2 / 4;
    }

    .img-about-md {
        grid-area: 2 / 1 / 3 / 2;
    }

    .txt-grid {
        grid-area: 2 / 2 / 3 / 4;
    }

    .form-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto;
        column-gap: 1rem;
        margin-bottom: 7.5rem;
    }

    .div-name {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div-email {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div-method {
        grid-area: 1 / 3 / 2 / 5;
    }

    .div-ideas {
        grid-area: 2 / 1 / 3 / 5; 
    }

    .message {
        height: 132px;
    }

    .send-btn {
        grid-area: 3 / 1 / 4 / 5;
    }

    /* =========RESTYLES FOOTER========= */

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .mobile-hide, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        font-size: 1.25rem;
    }

    .copyright {
        font-size: 1rem;
        order: -1;
        padding: 0;
        margin: 0;
    }

    .out-links, .footer-nav {
        flex-grow: 1;
    }

    .break {
        display: none;
    }
}

/* ========================================Desktop Styles======================================== */

@media screen and (min-width: 1280px) {

    nav {
        padding: 1.1rem 3.75rem 0 3.75rem;
    }

    footer {
        padding: 1.1rem 3.75rem;
    }    

    main {
        padding: 0 3.75rem;
    }

    nav a {
        font-size: 1.56rem;
    }

    footer {
        font-size: 1.062rem;
    }

    .pg-end-lg {
        margin-bottom: 10rem;
    }

    /* =========RESIZES MAIN TEXT OVERLAY========= */

    .img-sm, .img-md, .img-about-md {
        display: none;
    }

    .img-lg {
        display: block;
    }

    .img-container a {
        font-size: 1.25rem;
    }
    
    .txt-overlay p {
        font-size: 1.2rem;
    }       
    
    .txt-overlay {
        padding: 3.56rem 6.125rem 1.625rem 6.125rem;
        width: 50%;
    }

    /* =========RESIZES TEXT========= */

    .prompt {
        font-size: 1.25rem;
    }

    .back-btn {
        font-size: 1.375rem;
    }

    /* =========RESTYLES MUSIC GRID========= */

    .music-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .music-grid img:nth-child(1), .music-txt:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .music-grid img:nth-child(3), .music-txt:nth-child(4) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .music-grid img:nth-child(5), .music-txt:nth-child(6) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .music-txt, .music-txt a {
        text-align: center;
        color: var(--off-white);
        align-self: end;
        padding-bottom: 2.5rem;
        filter: drop-shadow(0 .2rem .4rem rgba(0, 0, 0, .16));
    }

    /* =========RESTYLES IMAGE GRIDS========= */

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .img-grid:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .camerawork-grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    /* =========RESTYLES CONTACT PAGE========= */

    .txt-container {
        padding-top: .5rem;
    }

    .txt-container h2{
        padding: 0;
        text-align: left;
        grid-area: 1 / 2 / 2 / 4;
    }

    .txt-grid {
        font-size: 1.22rem;
        grid-area: 2 / 2 / 2 / 4;
        line-height: 37px;
    }

    .txt-container .img-about-lg {
        display: block;
        grid-area: 1 / 1 / 3 / 2;
    }

    .form-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: .375rem;
    }

    .div-name {
        grid-area: 1 / 1 / 2 / 6;
    }

    .div-email {
        grid-area: 2 / 1 / 3 / 6;
    }

    .div-method {
        grid-area: 3 / 1 / 4 / 6;
    }

    .div-ideas {
        grid-area: 1 / 6 / 4 / 13;
    }

    .message {
        height: 84.6%;
    }

    .send-btn {
        grid-area: 4 / 1 / 5 / 13;
    }
}


