:root {
    --off-black: #2e2e2e;
    --off-white: #FFFEFC;
    --red-accent: #e87070;
    --light-grey: #C4C4C4;
}


.off-black {
    color: var(--off-black)
}

.light-grey {
    color: var(--light-grey);
}

.off-white {
    color: var(--off-white);
}

.bold {
    font-weight: bold;
}

.serif {
    font-family: 'Noto Serif', serif;
}

.sans-serif {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.ss-lc {
    font-family: 'Roboto', sans-serif;
}

body a {
    text-decoration: none;
}

main h2 {
    font-size: 1.625rem;
    font-weight: bold;
}

.body {
    background-color: var(--off-white);
}

main, footer {
    padding: 1.1rem 1.5rem;
}

/* Contact Page */

select {
    appearance: none;
    color: var(--off-black);
}

label {
    padding: .5rem 0 .25rem 0;
}

input, select, textarea {
    width: 100%;
    border: 2px solid var(--light-grey);
    border-radius: 10px;
    background-color: white;
}

.form-placeholder {
    padding: .5rem 1rem;
}

.send-btn {
    font-size: 1.56rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    margin-bottom: 2.875rem;
}

.message {
    height: 300px;
    resize: none;
    position: relative;
    top: 0;
}

/* ---------NAVBAR----------- */


.wordmark-active {
    fill: var(--red-accent);
    display: inline-block;
    width: 160px;
}

.wordmark {
    fill: var(--off-black);
    display: inline-block;
    width: 160px;
}

.nav-links .nav-active {
    color: var(--red-accent);
}

.mobile-hide, .img-md, .img-lg {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: var(--off-black);
}

/***************Mobile Menu***************/

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {    
    display: none;
    background-color: var(--red-accent);
    border-radius: 10px;
    filter: drop-shadow(0 .2rem .4rem rgba(0, 0, 0, .16));
}

/* Style navigation menu links */
.topnav a {
    color: var(--off-white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}

.topnav .sans-serif {
    color: var(--off-white);
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/*  */

.topnav i {
    font-size: 1.8rem;
}

.topnav a:hover {
    color: var(--off-black);
}

.fa-bars {
    color: var(--off-black);
    width: 1.8rem;
    padding-top: 60%;
}



/* Style the active link (or home/logo) */
.active {
    color: white;
}

#divider, #divider-2, #divider-3 {
    margin: 0 auto;
    width: 80%;
    height: 1.5px;
}  

/* ---------IMAGES------------ */

img {
    display: block;
    width: 100%;
    height: auto; 
  }

.img-rounded {
    border-radius: 10px;
}

.img-main {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

/* ---------MAIN CONTENT----------- */

.img-lg, .img-md {
    display: none;
}

.img-sm {
    display: block;
}

.img-container {
    position: relative;
}

.img-container a {
    text-decoration: underline;
    color: var(--off-white);
    font-size: 1rem;
    font-weight: bold;
}

.txt-overlay p {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.txt-overlay h2 {
    padding-bottom: 1rem;
}

.txt-overlay .p-small {
    display: block;
    padding: 1.625rem 0 0 0;
    font-size: .625rem;    
}

.txt-overlay {
    background-color: rgba(0, 0, 0, .69);
    border-radius: 0 0 10px 10px;
    color: var(--off-white);
    padding: 1.75rem 1rem 1.4rem 1rem;
    width: 100%;
    bottom: 0;
    position: absolute;
}


/* ----------FOOTER------------ */


footer {
    display: grid;
    grid-template-rows: 2fr, 1fr, 1fr;
}

.out-links {
    display: flex;
    justify-content: space-evenly;
    padding: 1.1rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

footer, footer a {
    background-color: var(--off-black);
    color: var(--off-white);
}

.copyright {
    font-size: 12px;
    order: 2;
    margin: auto;
    padding: 1rem;
}

.ig-icon {
    width: 33px;
}

.li-icon {
    width: 32px;
}

.bc-icon {
    width: 48px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

/* _______________________________MEDIA QUERIES_______________________________ */

/*==========Tablet Styles=============*/

@media screen and (min-width: 768px) {

    .topnav, .img-sm, .txt-container .img-about-lg {
        display: none;
    }

    .img-main {
        margin-top: .5rem;
        margin-bottom: 10rem;
    }

    /* RESIZES HOME TEXT IMG OVERLAY */

    .img-md {
        display: block;
    }

    .img-container {
        position: relative;
    }
    
    .img-container a {
        text-decoration: underline;
        color: var(--off-white);
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .txt-overlay p {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }
    
    .txt-overlay h2 {
        padding-bottom: 1rem;
    }
    
    .txt-overlay .p-small {
        display: block;
        padding: 1.625rem 0 0 0;
        font-size: .625rem;    
    }
    
    .txt-overlay {
        background-color: rgba(0, 0, 0, .69);
        color: var(--off-white);
        padding: 1.5rem;
        width: 62.5%;
        float: right;
        right: 0;
        top: 15%;
        bottom: initial;
        position: absolute;
        border-radius: 0px;
    }

    /* RESTYLES CONTACT PAGE CONTENT */
    
    .txt-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    
    .txt-container h2 {
        text-align: center;
        font-size: 1.875rem;
        padding: 1.1rem;
        grid-area: 1 / 1 / 2 / 4;
    }

    main, footer {
        padding: 1.1rem 2.5rem;
    }

    .img-about-md {
        grid-area: 2 / 1 / 3 / 2;
    }

    .txt-grid {
        grid-area: 2 / 2 / 3 / 4;
    }

    .form-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto;
        column-gap: 1rem;
        margin-bottom: 7.5rem;
    }

    .div-name {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div-email {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div-method {
        grid-area: 1 / 3 / 2 / 5;
    }

    .div-ideas {
        grid-area: 2 / 1 / 3 / 5; 
    }

    .message {
        height: 132px;
    }

    .send-btn {
        grid-area: 3 / 1 / 4 / 5;
    }

    /* RESTYLES FOOTER */

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .mobile-hide, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        font-size: 1.25rem;
    }

    .copyright {
        font-size: 1rem;
        order: -1;
        padding: 0;
        margin: 0;
    }

    .out-links, .footer-nav {
        flex-grow: 1;
    }

    .break {
        display: none;
    }
}

/*=============Desktop Styles============*/

@media screen and (min-width: 1280px) {

    main, footer {
        padding: 1.1rem 3.75rem;
    }    

    nav a {
        font-size: 1.56rem;
    }

    footer {
        font-size: 1.062rem;
    }

    /* RESIZES MAIN TEXT OVERLAY */

    .img-sm, .img-md, .img-about-md {
        display: none;
    }

    .img-lg {
        display: block;
    }

    .img-container a {
        font-size: 1.25rem;
    }
    
    .txt-overlay p {
        font-size: 1.2rem;
    }       
    
    .txt-overlay {
        padding: 3.56rem 6.125rem 1.625rem 6.125rem;
        width: 50%;
    }

    /* RESTYLES CONTACT PAGE */

    .txt-container {
        padding-top: .5rem;
    }

    .txt-container h2{
        padding: 0;
        text-align: left;
        grid-area: 1 / 2 / 2 / 4;
    }

    .txt-grid {
        font-size: 1.22rem;
        grid-area: 2 / 2 / 2 / 4;
        line-height: 37px;
    }

    .txt-container .img-about-lg {
        display: block;
        grid-area: 1 / 1 / 3 / 2;
    }

    .form-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: .375rem;
    }

    .div-name {
        grid-area: 1 / 1 / 2 / 6;
    }

    .div-email {
        grid-area: 2 / 1 / 3 / 6;
    }

    .div-method {
        grid-area: 3 / 1 / 4 / 6;
    }

    .div-ideas {
        grid-area: 1 / 6 / 4 / 13;
    }

    .message {
        height: 84.6%;
    }

    .send-btn {
        grid-area: 4 / 1 / 5 / 13;
    }
}


