/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------END CSS RESET------- */

/* ========================TEXT STYLES===================== */
/*  80 = 57
    60pt = 43
    40 = 28.7
    32 = 22.9
    30 = 21.4
    24 = 17.2
    20 = 14.3
    18 = 12.9
    17 = 12.1
    16 = 11.5
    14 = 10 */

body, input {
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
}

h1 {
    font-weight: 700;
    font-size: 43pt;
    line-height: 1.25;

}

h2 {
    font-weight: 700;
    font-size: 28.7pt;
    padding-bottom: .75rem;
}

h3 {
    font-weight: 700;
    font-size: 12.9pt;
    padding: 1rem 0;
}

.header p {
    font-size: 17.3pt;
    padding: .5rem 0;
    line-height: 1.35;
}

.apply-now p, .apply-now label, footer p {
    font-size: 11.5pt;
}

.apply-now p, .status {
    padding-bottom: .5rem;
}

.apply-now .status {
    font-size: 10pt;
}

.apply-now input:not(.terms) {
    font-size: 11.5pt;
    color: #9B9B9B;
    background-color: #F4F4F5;
    border-radius: 11px;
    border-style: none;
    line-height: 2.5;
    margin: .5rem 0;
    width: calc(100% - 1rem);
    padding-left: 1rem;
}

.apply-now label {
    padding-top: 1rem;
}

.apply-now button {
    background-color: #57eeab;
    border-style: none;
    border-radius: 11px;
    font-weight: 700;
    font-size: 17.3pt;
    width: 100%;
    padding: .75rem;
    margin: 1rem 0;
}



.apply-now a {
    text-decoration: none;
    color: #ff8480;
}

footer input {
    font-size: 11.5pt;
    color: #9B9B9B;
    background-color: #F4F4F5;
    border-radius: 11px;
    border-style: none;
    line-height: 2.5;
    padding-left: .75rem;
}

footer button {
    background-color: #ff8480;
    color: #fff;
    border-style: none;
    border-radius: 11px;
    font-weight: 700;
    font-size: 17.3pt;
    width: 100%;
}

.icons i {
    font-size: 2.25rem;
    margin: 1.5rem 0;
    color: #333131;
}

/* Uses display:none to hide assets not applicable to mobile states */

.desktop-prompt, .icons a:nth-child(3), .icons a:nth-child(5) {
    display: none;
}

.icons p {
    display: flex;
    justify-content: space-evenly;
}

.terms {
    transform: scale(2);
    border: 1px solid black;
    margin: 1rem .75rem 0 .4rem;
} 


.logo-img {
    width: 114.73px;
}

.main-img {
    width: 92.5%;
}

.logo-img, main, footer {
    padding: 0 2.25rem;
}

body {
    background-color: #f7f7ff;
}

footer {
    background-color: #fffd8c;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - .6rem));
    grid-template-rows: repeat(2, 1fr);
    column-gap: .75em;
    row-gap: .5rem;
    padding-top: .5rem;
}

#hours {
    grid-area: 1 / 1 / 2 / 2;
    width: calc(100% - .75rem);
}

.city {
    grid-area: 1 / 2 / 2 / 5;
}

#city {
    width: calc(100% - .75rem);
}

.button-calculate {
    grid-area: 2 / 1 / 3 / 5;
}


.apply-now {
    background-color: #FFF;
    border-radius: 26px;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, .4);
    padding: 1em 2em;
    margin: 1rem 0 3rem 0;
}

/*===============================MEDIA QUERIES==============================*/

/* Tablet */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 57pt;
    }

    .logo-img, main, footer {
        padding: 0 4.75rem;
    }

    .main-img {
        width: 69.2%;
        display: block;
        margin: auto;
    }
    

    .apply-now p {
        font-size: 21.4pt;
    }

    .apply-now input:not(.terms) {
        font-size: 12.9pt;
        padding: .25rem 0 .75rem 1rem;
    }

    .drive:not(.checkbox) {
        display: flex;
        flex-direction: column;
    }

    /* Changes apply now input order by making name fields, email address a lower order than phone number */

    .apply-reorder {
        order: -1;
    }

    .checkbox {
        padding-left: .5rem;
    }

   .checkbox label {
        font-size: 14.3pt;
   }

   .drive button {
       font-size: 22.9pt;
   }

   .apply-now .status {
       font-size: 12.1pt;
       text-align: center;
       padding-bottom: 1.5rem;
   }

   .apply-now {
        margin: 1rem 0 6rem 0;
   }


   .icons p {
        width: 65%;
        margin: auto;
    }

    .form-grid {
        grid-template-columns: 20% 43% 33%;
        grid-template-rows: 1fr;
        width: 608px;
    }
    
    .city {
        grid-column: 2 / 3;
    }
    
    #city {
        width: calc(100% - .75rem);
    }
    
    .button-calculate {
        grid-area: 1 / 3 / 1 / 4;
    }
}

/* Desktop */

@media screen and (min-width: 1920px) {

    .logo-img, main, footer {
        padding: 0 8rem;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        column-gap: .75em;
        justify-items: center;
        margin-bottom: 6rem;

    }

    .header {
        grid-area: 1 / 1 / 2 / 5;
    }

    .main-img {
        grid-area: 1 / 4 / 2 / 10;
        width: auto;
    }

    .apply-now {
        grid-area: 1 / 9 / 2 / 13;
    }

    .mobile-prompt, .icons a:nth-child(1), .icons a:nth-child(4) {
        display: none;
    }

    .desktop-prompt, .icons a:nth-child(3), .icons a:nth-child(5) {
        display: inline;
    }

    .apply-now p {
        font-size: 17.3pt;
    }

    .apply-now {
        margin: 0;
        width: calc(100% - 5em);
        padding: 2em 2.5em;
   }

   footer {
       padding: 1rem 8rem 2rem 8rem;
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: 1fr;
       column-gap: .75em;
       align-items: center;
   }

   .calculator {
       grid-column: 1 / 6;
   }

   .icons {
       grid-column: 11 / 13;
   }

   .icons p {
        width: auto;
        justify-content: space-between;
   }

}

